<div class="container">
  <div class="card my-10">
    <div class="card-body">
      <h1 class="h3 mb-2">Olá <%= @resident.full_name %></h1>
      <hr>
      <div class="space-y-3">
        <p class="text-gray-700">Seja bem vindo ao Projeto Jedi.</p>
      </div>
      <hr>
      <a class="btn btn-primary" href="/" target="_blank">Acesse a página inicial</a>
    </div>
  </div>
</div>